/*body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
/* Add a black background color to the top navigation */

h1 {
  text-align: center;
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
  width: 100%;
}

#foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.navbar {
  width: 100%;
  /*background-color: #00cc66; */
  overflow: auto;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
  float: left;
  /*padding: 12px;*/
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  /* Four links of equal widths */
  text-align: center;
  padding: 0.3em 0.5em;
  margin: 0.5em;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #3399ff;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}